@mixin textShoes ($font-size, $text-align, $margin-top, $margin-left, $margin-right,){
    font-size: $font-size;
    text-align: $text-align;
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}