$medida-width: 100%;
$medida-heigh: 70vh;

$footer-background: black;
$footer-text: whitesmoke; 

$font-text: 16px;
$font-tittle:50px;
$font-subtittle: 30px;

$margin-size: 10px;
$padding-size: 10px;

$color-principal: black;
$color-secundario: whitesmoke;
$color-terciario: grey;
