$medida-width: 100%;
$medida-heigh: 70vh;

$footer-background: black;
$footer-background2: white;
$footer-text: whitesmoke;
$footer-text2: black; 

$font-text: 20px;
$font-tittle:70px;
$font-subtittle: 40px;

$margin-size: 10px;
$padding-size: 10px;
$margin-background: 10rem;

$color-principal: black;
$color-secundario: whitesmoke;
$color-terciario: grey;
